
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
				<h3>About Us</h3>
				<p>Qonektus platform launched in 2021 with a simple mission and goal...connect local credible skilled talents with opportunities in the diapora community.
					<br>
				We know it takes a community to truly flourish and here is our contribution to bridging the gap between skill and opportunities</p>
				<p>Copyright &copy; 2017</p>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li><strong><a href="users/signin"><span class="glyphicon glyphicon-open-file"></span> Log-in</a></strong></li> 
						<li><strong><a href="/createaccount"><span class="glyphicon glyphicon-inbox"></span> Create Account</a></strong></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li><strong><a href="#"><span class="glyphicon glyphicon-film"></span> View Recorded Sessions</a></strong></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled">
						
					</ul>
				</div>
			</div>
		</div>
	</footer>
