	<div class="section-a">
		<div class="row">
			<div class="col-md-12" id = "autofadeinouttrial">
				<h1 id = "howtoggle">How it works</h1>
				<p> <strong> With our 6 step process...We simply enable trust...</strong></p>
			</div>
		</div>
			<div class="col-md-2">
				1. Instructors register
			</div>
			<div class="col-md-2">
				2. We verify instructor's references
			</div>
			<div class="col-md-2">
				3. Learners make Inquiry
			</div>
			<div class="col-md-2">
				4. We understand learner's needs
			</div>
			<div class="col-md-2">
				5. We assess learners
			</div>
			<div class="col-md-2">
				6. We match instructor with learner
			</div>
	</div>