  <nav class="navbar navbar-fixed-top">
      <div class="container">

        <div id="navbar" >
          <ul class="nav navbar-nav navbar-right" style="display:flex">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/about"><strong>About</strong></a></li>
            <li><a href="/services"><strong>Services</strong></a></li>
            <li><a href="/contact"><strong>Contact</strong></a></li>
            <li><a href="/users/signin"><strong>Log-in</strong></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>
  <br>
