  <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/"><strong>Qonektus</strong></a> -->
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right" style="display:flex">
            <li><a href="/users/dashboard"><strong>My Courses</strong></a></li>
            <li><a href="/users/registration"><strong>Registration</strong></a></li>
            <li >
              <button type="submit" class="logoutSubmit btn btn-primary2"><a href="logout"><strong>Log Out</strong></a></button>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  <div class="jumbotron jumbotron-main-user-nav"> <!--was jumbotron-sub -->
  </div> 
    
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
	