<!DOCTYPE html>
<html>
<%- include('includes/header')%>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->
<%- include('includes/navbar') %>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>About Us</strong></h3>
					</div>
				<div class="panel-body">
					<img src="img/Mayo_Advisory_Banner.jpg" class="img-full">
					<br>
			 		<p>Qonektus platform is the brainchild of MAYO Advisory Group, a secure transformation enabler established in 2017. We offer advisory services and products to help attain and maintain targeted change and growth objectives. Our strength and interest is in the area of security - physical, information, operations and economic security. We aid adoption of standards and establishment of frameworks,  and we execute in a manner that minimizes risk and make achieved positive outcomes repeatable.
					</p>
					<p> Qonektus platform is one of our products aimed at fostering trust and enabling commerce. With the technology available to us today, human capital can be leveraged globally, to minimize displacement and to bolster security. 
					This we believe...<strong> <i>given the right platform and environment, belief will grow into trust, trust will enable commerce, and commerce will bolster security.</i></strong>
					</p>
			</div>
			</div>
			</div>
		</div>
	</div>

<%- include('includes/whowearefooter') %>

	
</body>
</html>


