<!DOCTYPE html>
<html>
<%- include('includes/usersheader') %>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->
<%- include('includes/navbar') %>
</div>
  <div class="container">
  <div class="alert" style = "color: goldenrod"> <strong><%- msg %></strong></div>
 <form id = "myForm" class = "col-sm-4 mb-3 form-check" method = "POST" action = "users/requestResetPassword">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="email" required>
    <p>
    <a href="/users/signin"><strong>Sign-in</strong></a>
	</p> 
  <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
</form>
</body>
</html>