<!DOCTYPE html>
<html>
<%- include('includes/usersheader') %>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->
<%- include('includes/navbar') %>
</div>
  <div class="container">
  <div class="alert" style = "color: goldenrod"> <strong><%- msg %></strong></div>
 <form id = "myForm" class = "col-sm-4 mb-3 form-check" method = "POST" action = "resetPassword">
    <label for="exampleInputPassword1" class="form-label">Enter New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name ="password">
  <button type="submit" class="btn btn-primary"><strong>Update Password</strong></button>
</form>
</body>
</html>
