<!DOCTYPE html>
<html>
<%- include('includes/header')%>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->
<%- include('includes/navbar') %>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> <strong>Remote Language & Culture Tutoring</strong></h3>
					</div>
          <div class="panel-body">
            <p>Diversity in an of itself, is not what makes an organization or individual a force to reckon with. Ones exposure to diverse thoughts and ideas, the ability to tap into them is the key. Our aim is to aid our clients effort to broaden their capacity to leverage diversity for improved life and business outcomes. Our programs for remote language and culture tutoring range from colloquial sensibilities, intermediate fluency to advance fluency. Our local experts in various languages and culture are now backed with the technology and teaching techniques to help you on this exciting journey. 
            </p>
            <p style="color:steelblue">
            <i><strong>Become polylingual, the benefits are too great to pass up!</strong> </i> 
            </p>
            <br>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><strong>Remote Art Tutoring</strong></a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        Music learning at any stage in life (for children and adult), enhance the development of reasoning and promote creativity. Remote music teaching has always been scary and impossible but with our substantial, reliable and efficient experience with practical usage of technology, we have proof music can be even more fun Online.  Our tutors have carefully designed realistic prospective outline for daily growth. We realistic objectives and deliver great results, making our students better musically. 

                        With our tutors you get the guidance you desire for better musicianship. The instruments our tutors are ready to teach include Piano, Talking Drum, Voice and many more.
                    </div>
                    <p style="color:steelblue">
                    <i><strong>Become a polymath, it will make you a better problem-solver!</strong> </i> 
                  </p>
                  <br>
                  </div>
                </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('includes/whowearefooter') %>

</body>
</html>