<!DOCTYPE html>
<html>
<%- include('includes/header')%>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->
<%- include('includes/navbar') %>
</div>

<%- include('includes/tutorprofile') %>

<!-- mb-3 ends the area and goes to new line to continue after /div, col-md-4 goes to the next column
<div class="card mb-3 well2" style="max-width: 440px; padding-right: 10px; margin-left: 10px;">
  <div class="row g-0">
    <div class="col-md-4" style = "padding-top: 5px;">
      <img src="img/kunmi2.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title" style = "color: goldenrod;"> <strong>Iyikunmi Fawehinmi</strong></h4>
        <h6><strong style = "color: #2ECC71;">Skills: Cardiology at the graduate level </strong></h6>
        <p class="card-text"> <small><strong>Mr Kunmi is a MD and a profess of Cardiology. He has a deep understanging of cardiology and intenal medicine. <br><a href='#'>Read more profile</a></strong> </small></p>
        <p class="card-text"><small class="text-muted">Platinum level Tutor since 2015 </small> 
        </p>
        <a href="users/registration" class="btn btn-primary"> <strong> Check Availability &nbsp <span class="glyphicon glyphicon-education"></span></strong> </a>

      </div>
    </div>
  </div>
</div>
-->

<br>
<br>         
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('includes/whowearefooter') %>

  
</body>
</html>