<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi,</p>
        <p><%= name %> contacted us and provided the information below .</p>
        <p><%= message %>.</p>
        <p>Expect to hear from our team soon through your <%= email %> or a call at <%= telephone %>.<br>Thank you,<br>
        <a href="https://qonektus.com/contact">Qonektus Contact</a></p>
    </body>
</html>