<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi <%= name %>,</p>
        <p>Thank you for indicating interest in connecting to learn or teach on the Qonektus platform.<br>
        	You may (<a href="https://qonektus.com/users/signin">Login</a>) at any time to register, make payment, etc.<br> Notifications of updates and special offerings will be announced on our site...So, be on a lookout.<br> We appreciate your business and suggestions.
        </p>
        <p>Sincerely,<br> Olufemi .A Fawehinmi, PMP, CISSP-ISSAP<br> CEO, MAYO Advisory Group.
    </body>
</html>